# Ports exposés par Docker Compose
APP_PORT=8080
PHPMYADMIN_PORT=8081
MYSQL_PORT=3306
REDIS_PORT=6379
MAILPIT_UI_PORT=8025
MAILPIT_SMTP_PORT=1025

# Database Configuration
DB_HOST=db
DB_NAME=gamevault
DB_USER=gamer
DB_PASS=password

# Application Configuration
APP_URL=http://localhost:8080
APP_ENV=production
DISPLAY_ERRORS=0

# Redis Configuration
REDIS_HOST=redis

# SMTP Configuration
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_FROM_ADDRESS=noreply@gamevault.local
MAIL_FROM_NAME=GameVault

# RAWG.io API (https://rawg.io/apidocs)
RAWG_API_KEY=your_rawg_api_key
