# Database Configuration
DB_HOST=db
DB_NAME=gamevault
DB_USER=gamer
DB_PASS=password

# Application Configuration
APP_URL=http://your-domain.com
APP_ENV=production
DISPLAY_ERRORS=0

# Redis Configuration
REDIS_HOST=redis

# SMTP Configuration
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_FROM_ADDRESS=noreply@gamevault.local
MAIL_FROM_NAME=GameVault

# RAWG.io API (https://rawg.io/apidocs)
RAWG_API_KEY=your_rawg_api_key
